/*
 * Copyright (c) 2024 Nordic Semiconductor
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include "kestrel_nrf5340_cpuapp_common-pinctrl.dtsi"
#include "kestrel_common.dtsi"
/ {

	

	chosen {
		zephyr,console = &cdc_acm_uart2;
		zephyr,shell-uart = &cdc_acm_uart2;
		zephyr,uart-mcumgr = &cdc_acm_uart2;
		zephyr,bt-mon-uart = &cdc_acm_uart2;
		zephyr,bt-c2h-uart = &cdc_acm_uart2;
		zephyr,bt-hci-ipc = &ipc0;
		nordic,pm-ext-flash = &flash_ext;
		nordic,802154-spinel-ipc = &ipc0;
		zephyr,ieee802154 = &ieee802154;
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 11 (GPIO_ACTIVE_LOW)>;
			label = "ipc2";
		};
	};

	zephyr,user {
		short-range-rf-fe-enable-gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
	};


	aliases {
		sw0 = &button0;
		mcuboot-button0 = &button0;
		watchdog0 = &wdt0;
	};
};



&adc {
	status = "okay";
};



&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};


&uart0 {
	status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart1 {
	status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart2 {
	status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-1 = <&uart2_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart3 {
	status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart3_default>;
	pinctrl-1 = <&uart3_sleep>;
	pinctrl-names = "default", "sleep";
};

/* Include default memory partition configuration file. */
/* This is not the layout that's actually used! It's overridden by Partition Manager. */
#include <common/nordic/nrf5340_cpuapp_partition.dtsi>

&ieee802154 {
	status = "okay";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
	};

	cdc_acm_uart2: cdc_acm_uart2 {
		compatible = "zephyr,cdc-acm-uart";
	};

};

/ {
	sram0_ns@2007fc00 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x2007fc00 DT_SIZE_K(1)>;
		zephyr,memory-region = "RetainedMem";
		status = "okay";

		retainedmem {
			compatible = "zephyr,retained-ram";
			status = "okay";
			#address-cells = <1>;
			#size-cells = <1>;

			boot_mode0: boot_mode@0 {
				compatible = "zephyr,retention";
				status = "okay";
				reg = <0x0 0x100>;
				prefix = [08 04];
				checksum = <1>;
			};
		};
	};

	rtt0: rtt_chan0 {
		compatible = "segger,rtt-uart";
		status = "okay";
	};

	chosen {
		zephyr,boot-mode = &boot_mode0;
		zephyr,console = &rtt0;
		zephyr,shell-uart = &rtt0;
		zephyr,uart-mcumgr = &rtt0;
		zephyr,bt-mon-uart = &rtt0;
		zephyr,bt-c2h-uart = &rtt0;
	};
};

&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";

	// flash_ext: gd25wb256e3ir@0 {
	// 	compatible = "nordic,qspi-nor";
	// 	status = "okay";
	// 	reg = <0>;
		
	// 	readoc = "fastread";   
	// 	writeoc = "pp";        
	// 	address-size-32;
	// 	sck-frequency= <8000000>;
	// 	size = <268435456>;
	// 	has-dpd;
	// 	t-enter-dpd = <3000>;
	// 	t-exit-dpd = <40000>;
	// 	sfdp-bfp = [
	// 		e5 20 f3 ff  ff ff ff 0f  44 eb 08 6b  08 3b 42 bb
	// 		ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
	// 		10 d8 00 ff  44 7a c9 fe  83 67 26 62  ec 82 18 44
	// 		7a 75 7a 75  04 c4 d5 5c  00 06 74 00  08 50 00 01
	// 		];
	// 	jedec-id = [c8 65 19];
	// };

	flash_ext: gd25wb256e3ir@0 {
		compatible = "nordic,qspi-nor";
		status = "okay";
		reg = <0>;
		
		readoc = "fastread";   
		writeoc = "pp";        
		address-size-32;
		sck-frequency= <8000000>;
		size = <268435456>;
		has-dpd;
		t-enter-dpd = <3000>;
		t-exit-dpd = <40000>;
		sfdp-bfp = [
			e5 20 f3 ff  ff ff ff 0f  44 eb 08 6b  08 3b 42 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
			10 d8 00 ff  44 7a c9 fe  83 67 26 62  ec 82 18 44
			7a 75 7a 75  04 c4 d5 5c  00 06 74 00  08 50 00 01
			];
		jedec-id = [c8 40 19];
	};
	
	// flash_ext: s25fl256s@0 {
	// 	compatible = "nordic,qspi-nor";
	// 	status = "disabled";
	// 	reg = <0>;
	// 	readoc = "fastread";   
	// 	writeoc = "pp";        
	// 	address-size-32;
	// 	sck-frequency= <8000000>;
	// 	size = <268435456>;
	// 	jedec-id = [01 02 19];
	// 	//use-4b-addr-opcodes;
	// };
};

&flash_ext {
	status = "okay";
};

&spi3 {
	cs-gpios = 
		<&gpio0 21 GPIO_ACTIVE_LOW>, 
		<&gpio0 16 GPIO_ACTIVE_LOW>;
};
&spi2 {
	cs-gpios = 
		<&gpio1 4 GPIO_ACTIVE_LOW>, 
		<&gpio1 9 GPIO_ACTIVE_LOW>;  
};